.navbar {
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 30px;
    gap: 5%;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .navbar a.active {
    background-color: blue;
    color: white;
  }

  .navbar .active12 {
    color: white;
  }